/* Change the hover color of links to orange */
a:hover {
  color: orange !important;
  text-decoration: none;
}

::after, ::before {
  box-sizing: border-box;
}

.output {
  border-radius: 0.25rem;
  max-width: 100%;
  overflow-x: auto;
}